.home-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: var(--left-right-pad);
}

.home-container {
    height: 100%;
    width: 100%;
}

.home-wrapper .home-container h1 {
    color: #ebe8d9;
    font-size: 2.35rem;
}

.home-wrapper p {
    color: white;
    margin: 10px 0;
}

.home-wrapper h2 {
    color: #ebe8d9;
    font-size: 4rem;
}

.counter-container {
    text-align: right;
    width: 100%;
}

.counter-container div {
    color: white;
    letter-spacing: 15px;
}

.home-wrapper button {
    padding: 7px 15px;
    cursor: pointer;
    background: #7cad3e;
    border: none;
    color: white;
    margin-top: 10px;
}

.participant-details {
    display: flex;
    justify-content: flex-end;
}

.curve {
    position: absolute;
    height: 255px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.curve::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 60% 100%;
    width: 65%;
    height: 100%;
    background: #7cad3e;
    transform: translate(95%, 75%);
}

.curve::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    border-radius: 90% 90%;
    width: 100%;
    height: 100%;
    background: #7cad3e;
    transform: translate(-10%, 88%);
}
