.volunteer-modal-wrapper {
    display: flex;
}

/* FORM */
.volunteer-form-container form div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.input-container {
    width: 80%;
}

.volunteer-form-container form label {
    color: black;
    font-size: .8rem
}

.volunteer-form-container {
    border-radius: 20px;
    padding: 20px;
}

.volunteer-form-container form {
    padding: 30px 15px;
}

.volunteer-form-container input[type="text"],
.volunteer-form-container input[type="number"],
.volunteer-form-container input[type="email"],
.volunteer-form-container input[type="textbox"] {
    width: 100%;
    outline: none;
    border: 1px solid grey;
    margin: 0 5px;
    border-radius: 20px;
    padding: 5px 15px;
}

.contact-details-txt {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 25px;
}

.volunteer-form-container textarea {
    height: 100px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    padding: 15px;
    resize: none;
}

.volunteer-form-container input[type="submit"] {
    padding: 10px 35px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: #153043;
    color: white;
    border-radius: 10px;
}

.volunteer-count-container {
    width: 30%;
}

.volunteer-count {
    height: 100%;
    width: 100%;
    background-color: #153043;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.volunteer-count span {
    font-size: 2.25rem;
    color: white;
    font-weight: 600;
}

.volunteer-count div {
    font-size: .8rem;
    color: white;
    width: 100%;
    text-align: center;
}
