header {
    width: 100%;
    background: #153043;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end
}



nav ul li {
    list-style-type: none;
}

#nav1 a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-weight: 700;
}

#nav1 a.active {
    color: #7CAD3E;
}

#nav1 a:nth-child(2) {
    margin: 0 20px;
}