header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #153043;
    margin-bottom: 50px;
    width: 100%;
}

#nav1 {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 100%;
    padding: var(--left-right-pad)
}

#nav1 h1 {
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
}

nav ul li {
    list-style-type: none;
}

#nav1 a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

#nav1 a.active {
    color: #7cad3e;
}

#nav1 a:nth-child(2) {
    margin: 0 45px;
}
